/* @theme my_am */

@import 'am_blue';

:root {
  --font-family-footer: 'Calibri';
  --font-size-1: 64px;
  --foot-size-subtitle: 42px;
  --font-size-2: 64px;
  --font-size-2-3: 50px; 
  --font-size-4-5: 38px; 
  --font-size-main: 28px;
  --font-size-footer: 22px;
  --font-size-page: 12px;
  --font-size-code: 22px;
}

h2 {
  font-size: var(--font-size-2);
}

section::after {
  content: attr(data-marpit-pagination); 
  letter-spacing: 0px;
}

section.cols-2-cp {
  overflow: visible;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    "slideheading slideheading"
    "leftpanel    rightpanel";
}
section.cols-2-cp h2,
section.cols-2-cp h3 {
  grid-area: leftpanel;
}
section.cols-2-cp .ldiv {
  grid-area: leftpanel;
  margin-top: -5%;
}
section.cols-2-cp .rdiv {
  grid-area: rightpanel;
  margin-top: -5%;
}
section.cols-2-cp .limg {
  grid-area: leftpanel;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.cols-2-cp .rimg {
  grid-area: rightpanel;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.navbar2 .subnav {
  background-color: #c1f0cd;
  width: 100%;
  height: 5%;
  padding: 6px 0px 3px 0px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  color: var(--color-navbar-font);
  white-space: pre;
  position: absolute;
  top: 45px;
}
section.navbar2 .subnav>em,
section.navbar2 .subnav>strong,
section.navbar2 .subnav>em>strong {
  font-style: normal;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--color-navbar-font);
}
section.navbar2 .subnav>strong {
  border: 1px solid white;
  border-radius: 12px;
  padding: 0px 15px 5px 15px;
  background-color: white;
}
section.navbar2 .subnav::before,
section.navbar2 .subnav::after {
  content: "";
}
section.navbar2 .subnav>em>strong {
  display: block;
  width: 400px;
  text-align: left;
  margin-left: -20px;
}

section.fixedtitleC {
  justify-content: start;
}
section.fixedtitleC h3 {
  top: 100px;
  position: fixed;
}

img.logo {
  width: 150px;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

a {
  font-size: 1rem;
  padding:0 .2rem;
}
a::after {
  font-size: 0.6em;
  content: "\f0c1"; /* f148 f0c1 f08e f14c f0c6 */
}

section.cols-2-c {
  overflow: visible;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 95%;
  grid-template-areas:
      "slideheading slideheading"
      "leftpanel    rightpanel";
}
section.cols-2-c h2, section.cols-2-c h3 {
  left: 5%;
}
section.cols-2-c .ldiv { 
  grid-area: leftpanel; 
  margin-top: -5%;
}
section.cols-2-c .rdiv { 
  grid-area: rightpanel; 
  margin-top: -5%;
}
section.cols-2-c .limg { 
  grid-area: leftpanel; 
  margin-top: -5%;
  display: flex;
  align-items: center;  
  justify-content: center;
}
section.cols-2-c .rimg { 
  grid-area: rightpanel; 
  margin-top: -5%;
  display: flex;
  align-items: center;  
  justify-content: center;
}

section.pin-3t {
  overflow: visible;
  display: grid;
  gap: 1rem;
  grid-template-rows: 7% 13% 80%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
      "slideheading slideheading"
      "toppanel  toppanel"
      "leftpanel rightpanel";
}
section.pin-3t h2, section.pin-3t h3 {
  grid-area: slideheading;
  font-size: var(--font-size-2-3);
}
section.pin-3t .tdiv { 
  grid-area: toppanel; 
}
section.pin-3t .ldiv { 
  grid-area: leftpanel; 
}
section.pin-3t .rdiv { 
  grid-area: rightpanel; 
}
section.pin-3t .timg { 
  grid-area: toppanel; 
  display: flex;
  align-items: center;  
  justify-content: center;
}
section.pin-3t .limg { 
  grid-area: leftpanel;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.pin-3t .rimg { 
  grid-area: rightpanel;
  display: flex;
  align-items: center;  
  justify-content: center;
}
